*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(224, 233, 233);
}
.container-bg{
    height: 100vh;
    /* width: 100%; */
    background-image: url(../../Image/background2.jpeg) !important;
    /* background-position: center; */
    /* background-color: ivory; */
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%; 
    /* box-sizing: border-box; */
    /* position: relative; */
}

.navbar-nav{
    margin-left: 50px;
}
.fas{
font-size: 30px;
margin-left: 25px;
}

.content h1{
    font-size: 50px;
    color: rgb(74, 74, 207);
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
}
.content p{
    margin-left: 10%;
    color: #6a7199;
}
.content {
    margin-left: 10%;
    margin-top: 10%;
}
.side-img {
    height: 200%;
    padding-left: 10%;
    /* position: absolute; */
    bottom: 0;
    right: 160px;
}
li.navbar-nav{
    color: white;
}
/* this is second style.css */
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../../Image/background.jpeg);
    background-size: cover;
   /* padding-left: 5%;
    padding-right: 5%*/
}
/*.main{
    height: 100vh;
    background-image: url(../../Image/background.jpeg);
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%; 
}
.mb-3 {
    margin-left: 5%;
}
/* .form-label{
    margin-left: 10%;
} */
.btn-primary{
    border: none;
    transition: all .5s ease-in-out;
    padding: 5px 25px;
    border-radius: 50px;
    margin-left: 5%;
}
.btn-primary:hover{
    transform: scale(1.05);
}
.fa-solid{
    font-size: 30px;
    margin-left: 25px;
}
.nav-item{
color: white;
}
a{
    color: black;
}